.App {
  display: flex;
  justify-content: space-evenly;
}
.groccery-list {
  text-align: center;
  margin-top: 4rem;
  width: 30rem;
  height: 40rem;
  background: greenyellow;
  border-radius: 20px;
}
.list-content {
  display: flex;
  flex-direction: column;
  
  min-height: 70%;
}
.list-content label {
  margin: 0.273rem;
}
label {
  border: solid black 2px;
  border-radius: 20px;
  cursor: pointer;
  max-height: 2rem;
  display: flex;
  justify-content: space-around;
}
label:hover {
  background-color: green;
}
.summary{
  background: wheat;
  height: 16%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.list-title{
  display: flex;
  justify-content: space-around;
}
.list-title div{
  border-bottom: 2px black solid;
}
.icon {
  width: 2rem;
}
.disabled {
  cursor: none;
  color: red;
  background: grey;
}